html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: rgb(124, 219, 0);
    font-family: 'Courier';
    font-size: 12px;
    line-height: 8px;
}

canvas {
    display: block;
}